@font-face {
    font-family: 'encodeSans';
    src: url('../../fonts/encodeSans.ttf') format('truetype');
    font-style: normal;

}

:root {
    --background: #0B0F14;
    --surface: #151A21;
    --surface-2: #1B222B;
    --surface-opacity: #1b222b91;
    --text: #EAF2FF;
    --muted: #98A2B3;
    --primary: #22C55E;
    --radius-card: 14px;
    --border: 1px solid;
    --radius-btn: 5px;
    --card-padding: 10px;
    --max-width: 1100px;
    --font-p: 'encodeSans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-p);
    color: var(--text);
}

nav {
    border-bottom: 2px solid var(--surface-opacity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;

    padding: 0px 10px;
}

/* ------- */
nav div.logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

nav div.logo img.logo_image {
    border-radius: var(--radius-btn);
}

nav div.logo a {
    display: flex;
    justify-content: center;
}

nav div.logo a:active {
    scale: .9;
}

nav div.logo h1 a {
    display: block !important;
    text-decoration: none;
}

nav div.logo div {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 60px;
}


nav div.logo h1 a:hover {
    color: var(--primary);
    transition: color 0.2s ease-in-out;
    text-shadow: 0 0 10px var(--primary);
}

nav div.logo span {
    display: block;
    max-width: 140px;
}

/* ------- */
nav div.navigation_links {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    background-color: #1b222b2a;
    padding: 10px;
    border-radius: 10px;
    animation: navLinksDisappear 0.5s ease-in-out;

}

nav div.navigation_links a {
    text-decoration: none;
}

/* ------ */
nav div.auth-buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;

}

/* ----- */
button.btn_menu_mobile {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 60px;
    background-color: transparent;
    display: none;
}

button.btn_menu_mobile span {
    display: block;
    background-color: var(--text);
    width: 100%;
    margin: 4px 0;
    height: 5px;
    border-radius: 5px;
}

button.btn_menu_mobile:active span {
    background-color: var(--primary);
    transition: background .2s ease-in-out;
    scale: .8;
}

div.menu_mobile {
    position: absolute;
    top: 80px;
    background-color: var(--surface-2);
    height: 500px;
    border-left: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    width: 300px;
    display: none;
    right: 0;
    transition: right .5s ease-in-out;
    animation: menuAnim .5s ease-in-out;
}

.provisorio {
    margin-top: 200px;
    transform: rotateZ(90deg);
    position: relative;
    font-size: 6em;
}

@media (max-width: 900px) {
    nav div.navigation_links {
        position: absolute;
        box-shadow: 0 0 10px var(--surface);
        border: 2px solid var(--surface-opacity);
        margin: auto;
        left: 50%;
        top: 90px;
        animation: navLinksAppear 0.5s ease-in-out;
        transform: translate(-50%, 0);
        width: 400px;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 500px) {


    nav div.navigation_links {
        display: none;
    }

    nav div.auth-buttons {
        display: none;
    }

    button.btn_menu_mobile {
        display: block;
    }

    div.menu_mobile {
        display: none;
    }
}



@keyframes navLinksAppear {
    from {
        opacity: 0;
        transform: translate(-50%, -80px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes navLinksDisappear {
    from {
        opacity: 0;
        transform: translateY(90px);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes menuAnim {
    from {
        transform: translateX(400px)
    }

    to {
        transform: translateX(0);
    }

}
